---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: front
  labels:
    app: front
spec:
  minReadySeconds: 60
  replicas: 1
  selector:
    matchLabels:
      app: front
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: front
    spec:
      containers:
      - name: front
        image:  cr.yandex/crppvgkl2ft86f0jdvnc/front:1.0.5
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 8080
        env:
          - name: NODE_ENV
            value: development
      terminationGracePeriodSeconds: 0