services:
  env-dashboard:
    image: "mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest"
    ports:
      - "18888"
    expose:
      - "18889"
      - "18890"
    networks:
      - "aspire"
    restart: "always"
  postgress:
    image: "docker.io/library/postgres:17.6"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      POSTGRES_USER: "${POSTGRESUSERNAME}"
      POSTGRES_PASSWORD: "${POSTGRESUSERPASSWORD}"
    ports:
      - "5432:5432"
    expose:
      - "5432"
    networks:
      - "aspire"
  roomsmigration:
    image: "${ROOMSMIGRATION_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ConnectionStrings__mmr: "Host=postgress;Port=5432;Username=${POSTGRESUSERNAME};Password=${POSTGRESUSERPASSWORD};Database=mmr"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "roomsMigration"
    depends_on:
      postgress:
        condition: "service_started"
    networks:
      - "aspire"
  bookingsmigration:
    image: "${BOOKINGSMIGRATION_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ConnectionStrings__mmr: "Host=postgress;Port=5432;Username=${POSTGRESUSERNAME};Password=${POSTGRESUSERPASSWORD};Database=mmr"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "bookingsMigration"
    depends_on:
      postgress:
        condition: "service_started"
    networks:
      - "aspire"
  minio:
    image: "docker.io/minio/minio:latest"
    command:
      - "server"
      - "/data"
    environment:
      MINIO_ADDRESS: ":9000"
      MINIO_CONSOLE_ADDRESS: ":9001"
      MINIO_PROMETHEUS_AUTH_TYPE: "public"
      MINIO_ROOT_USER: "${MINIOROOTUSER}"
      MINIO_ROOT_PASSWORD: "${MINIOROOTUSERPASSWORD}"
    ports:
      - "10000:9000"
      - "10001:9001"
    networks:
      - "aspire"
  bookingorchestrator:
    image: "${BOOKINGORCHESTRATOR_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      SCHEDULE_API_USERNAME: "${SCHEDULEAPIUSERNAME}"
      SCHEDULE_API_PASSWORD: "${SCHEDULEAPIPASSWORD}"
      MINIO_ACCESS_KEY: "${MINIOROOTUSER}"
      MINIO_SECRET_KEY: "${MINIOROOTUSERPASSWORD}"
      MINIO_HTTP: "http://minio:9000"
      services__minio__http__0: "http://minio:9000"
      MINIO_ADMIN: "http://minio:9001"
      services__minio__admin__0: "http://minio:9001"
      ConnectionStrings__mmr: "Host=postgress;Port=5432;Username=${POSTGRESUSERNAME};Password=${POSTGRESUSERPASSWORD};Database=mmr"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "bookingOrchestrator"
    depends_on:
      roomsmigration:
        condition: "service_completed_successfully"
      bookingsmigration:
        condition: "service_completed_successfully"
    networks:
      - "aspire"
  webapi:
    image: "${WEBAPI_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${WEBAPI_PORT};8888;5049"
      ASPNETCORE_ENVIRONMENT: "Development"
      SCHEDULE_API_USERNAME: "${SCHEDULEAPIUSERNAME}"
      SCHEDULE_API_PASSWORD: "${SCHEDULEAPIPASSWORD}"
      ConnectionStrings__mmr: "Host=postgress;Port=5432;Username=${POSTGRESUSERNAME};Password=${POSTGRESUSERPASSWORD};Database=mmr"
      MINIO_ACCESS_KEY: "${MINIOROOTUSER}"
      MINIO_SECRET_KEY: "${MINIOROOTUSERPASSWORD}"
      MINIO_HTTP: "http://minio:9000"
      services__minio__http__0: "http://minio:9000"
      MINIO_ADMIN: "http://minio:9001"
      services__minio__admin__0: "http://minio:9001"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "webapi"
    ports:
      - "${WEBAPI_PORT}"
      - "8888:8888"
      - "5049:5049"
    depends_on:
      roomsmigration:
        condition: "service_completed_successfully"
      bookingsmigration:
        condition: "service_completed_successfully"
    networks:
      - "aspire"
networks:
  aspire:
    driver: "bridge"
